/*如果你看到这些，说明你的浏览器没有打开支持javascript的功能，无法实现本次换肤*/
body{
	background-image: url("../images/bg2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#txt{
	background: rgba(169,169,169,0.4);
	margin: 30px auto auto 10px;
	border: 0 none;
	border-radius: 35px;	
	box-shadow: 1px 1px 5px rgba(169,169,169,0.3);
}
#txt h2{
	border-bottom: 1px solid rgba(169,169,169,0.7);
	text-shadow: 0 0 2px white;
}